body{
    font-family:"Poppins", sans-serif;
}
.banner{
    background-image: url(../images/slider2.jpg);
    background-repeat: no-repeat;
    padding: 200px 0;
    background-size: cover;
}
.photo{
    width: 300px;
}